<div class= "home">
  <div class = "col-md-8 col-md-offset-4">
    <h1>This is the Best Todo App</h1>
  </div>
    
  <div class = "col-md-8 col-md-offset-4">
    <h2>See all of your tasks in one place</h2>
  </div>
</div>